.App {
  font-family: sans-serif;
  text-align: center;
}

.label-section-container {
  display: flex;
  margin-bottom: 20px;
}
.label-header {
  margin-right: 10px;
}
.theme-image-container.theme-data {
  display: flex;
  justify-content: center;
  align-items: center;
}
.theme-image-container {
  border: 1px solid #dddddd;
  width: 100%;
  min-width: 222px;
  height: 125px;
}
.theme-image {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 100%;
  margin: 0 7px;
}
